<table id="grid"></table>
<div id="pager"></div>
<script type="text/javascript">
var $recordsUrl="{{recordsUrl}}";
var $addUrl="{{addUrl}}";
var $editUrl="{{editUrl}}";
var $deleteUrl="{{deleteUrl}}";
</script>
