<li{{#clazz}} class="{{clazz}}"{{/clazz}}>{{! print class name (active, open, etc) if it exists }}
  <a href="{{#haslink}}{{link}}{{/haslink}}{{^link}}#{{/link}}"{{#hassubmenu}} class="dropdown-toggle"{{/hassubmenu}}>
	{{#icon}}<i class="{{icon}}"></i>{{/icon}}
	{{#level1}}
	 <span class="menu-text">
	{{/level1}}

	 {{#level2}}{{! if level-2 and no icon assigned, use this icon}}
		{{^icon}}<i class="icon-double-angle-right"></i>{{/icon}}
	 {{/level2}}

	  {{title}}
	  {{#badge}}
			<span class="badge {{badge-class}} {{tooltip-class}}"{{#tooltip}} title="{{{tooltip}}}"{{/tooltip}}>{{{badge}}}</span>
	  {{/badge}}
	  {{#label}}
			<span class="label {{label-class}}"{{#label-title}} title="{{label-title}}"{{/label-title}}>{{{label}}}</span>
	  {{/label}}
	{{#level1}}
	 </span>
	{{/level1}}

	{{#hassubmenu}}<b class="arrow icon-angle-down"></b>{{/hassubmenu}}
  </a>
  
  {{#hassubmenu}}{{! if we have submenu items, print them recursively }}
	<ul class="submenu">
	{{#submenu}}
		{{> layout.sidenav.items}}
	{{/submenu}}
	</ul>
  {{/hassubmenu}}
</li>